.blink {
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
	.fade-left {
  opacity: 0;
  transform: translateX(-100px);
  animation: fadeLeft 2s forwards;
}
.fade-right {
  opacity: 0;
  transform: translateX(100px);
  animation: fadeRight 2s forwards;
}
.fade-up {
  opacity: 0;
  transform: translateY(100px);
  animation: fadeUp 2s forwards;
}
.fade-down {
  opacity: 0;
  transform: translateY(-100px);
  animation: fadeDown 2s forwards;
}
.zoom-in {
  opacity: 0;
  animation: zoomIn 2s forwards;
}
@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}