<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" x-data="{ isOpen: false }">
    <div class="container light rounded-5 p-2">
      <a class="fw-bold navbar-brand ms-3">Rahmat</a>
      <button class="navbar-toggler" @click='isOpen = !isOpen'><span class="navbar-toggler-icon"></span></button>
      <div class="navbar-collapse" x-transition.duration.500 x-show="isOpen">
        <div class="navbar-nav ms-auto gap-0 gap-md-2 gap-lg-4 me-3 text-center">
          <a href="#hero" class="nav-link">Home</a>
          <a href="#about" class="nav-link">About</a>
          <a href="#services" class="nav-link">Services</a>
          <a href="#project" class="nav-link">Project</a>
          <a href="#contact" class="nav-link">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  .light {
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(10px);
  }
</style>